# Node modules and lock files
node_modules/
npm-debug.log
package-lock.json
.pnpm-debug.log

# Environment variables
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Coverage directory used by tools like Istanbul
coverage/
*.lcov

# Bower dependency directory
bower_components/

# Compiled binary addons
build/Release

# Dependency directories
jspm_packages/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Next.js build output
.next

# Serverless directories
.serverless/

# Vim temporary files
*.swp

# Mac OS system files
.DS_Store

# Linux system files
*.swp

# VS Code settings
.vscode/

# SQLite database
database.sqlite

# Sequelize configuration
config/config.json

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
